@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@5.2/distr/fira_code.css);

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: Fira Code;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}


section {
    padding-bottom: 60px;
    padding-top: 60px;
    padding: 60px 15px 60px 15px;
    font-size: 28px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #f2f2f2;
    text-align: center;
    padding: 10px;
}

#check {
    display: none;
}

.checkbtn {
    display: none;
}

nav {
    position: fixed;
    text-align: center;
    width: 100%;
    background-color: #333;
    z-index: 1;

}

nav a {
    display: inline-block;
    width: 100%;
    padding: 20px;
    color: #f2f2f2;

    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

nav a:hover {
    background-color: #f2f2f2;
    color: #333;
}

nav ul li {
    display: inline-block;
}

/* Add the following rule inside your existing media query */
@media screen and (max-width: 768px) {
    .checkbtn {
        display: block;
        text-align: left;
    }

    nav {
        height: 55px;
        padding: 15px;

    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #333;
        top: 115px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: auto 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    #check:checked~ul {
        left: 0;
    }

    .hamburger {
        display: inline-block;
        position: relative;
        width: 30px;
        height: 4px;
        background: #f2f2f2;
        transition: all 0.3s;
    }

    .hamburger::before,
    .hamburger::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background: #f2f2f2;
    }

    .hamburger::before {
        top: -8px;
    }

    .hamburger::after {
        bottom: -8px;
    }

    #check:checked~.checkbtn .hamburger {
        background: transparent;
    }

    #check:checked~.checkbtn .hamburger::before {
        top: 0;
        transform: rotate(-45deg);
        /* Rotate the line */
    }

    #check:checked~.checkbtn .hamburger::after {
        bottom: 0;
        transform: rotate(45deg);
    }
}